@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Yahoo! Finance Scraper</h1>
    <p class="lead">A real time Stock scraper that will retrieve up to date Stock data from the Yahoo Finance website.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Start a New Scrape</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Visit the GitHub repo for this project</h2>
        <p><a class="btn btn-default" href="https://github.com/Daniel-Choiniere/FinanceScraper">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Check me out on LinkedIn</h2>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/daniel-choiniere-a7595612a/">Learn more &raquo;</a></p>
    </div>
</div>