@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1 style="font-family: bookman; font-weight: bolder">Yahoo! Finance Scraper</h1>
    <p class="lead">A real time web scraper that will retrieve up to date Stock data from the Yahoo Finance website.</p>
</div>
<div class="jumbotron">
    <h3>@Html.ActionLink("Start a New Scrape", "Scrape", "Stocks", null, new { @class = "btn btn-success btn-lg" })</h3>
</div>
<br />
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h4>Check me out on LinkedIn</h4>
                @* <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> *@
                <a href="https://www.linkedin.com/in/daniel-choiniere-a7595612a/" class="btn btn-primary btn-sm" target="_blank">LinkedIn</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h4>Visit the GitHub repo for this project</h4>
                @* <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> *@
                <a href="https://github.com/Daniel-Choiniere/FinanceScraper" class="btn btn-primary btn-sm" target="_blank">GitHub</a>
            </div>
        </div>
    </div>
</div>


