
@model FinanceScraper.Models.Search

@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1 style="font-family: bookman; font-weight: bolder">Yahoo! Finance Scraper</h1>
    <p class="lead">A real time web scraper that will retrieve up to date Stock data from the Yahoo Finance website.</p>
</div>
<div class="jumbotron">
    <h3>@Html.ActionLink("Start a New Scrape", "Scrape", "Stocks", null, new { @class = "btn btn-success btn-lg" })</h3>
</div>
<div class="jumbotron">
    <input type="text" id="txt" readonly="readonly" />
    @Html.DropDownList("Stocks", new List<SelectListItem>
    {
        new SelectListItem {Text = "AAPL", Value = "1"},
        new SelectListItem {Text = "MRMD", Value = "2"},
        new SelectListItem {Text = "FB", Value = "3"},
        new SelectListItem {Text = "TSLA", Value = "4"},
        new SelectListItem {Text = "TWTR", Value = "5"},
        new SelectListItem {Text = "GOOG", Value = "6"},
        new SelectListItem {Text = "MSFT", Value = "7"},
        new SelectListItem {Text = "ATVI", Value = "8"},
        new SelectListItem {Text = "WMT", Value = "9"},
        new SelectListItem {Text = "ATVI", Value = "10"}
    }, "Choose a Scraped Stock", new { @onChange = "selectedText(this)" })

    @using (Html.BeginForm("SearchForStock", "Stocks", FormMethod.Post))
    {
        @Html.TextBoxFor(model => model.SearchForStock)

<div>
    <button type="submit" class="btn btn-success btn-lg">Search Stock Data by Symbol</button>

</div>
    }
</div>
<br />
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h4>Check me out on LinkedIn</h4>
                @* <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> *@
                <a href="https://www.linkedin.com/in/daniel-choiniere-a7595612a/" class="btn btn-primary btn-sm" target="_blank">LinkedIn</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h4>Visit the GitHub repo for this project</h4>
                @* <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> *@
                <a href="https://github.com/Daniel-Choiniere/FinanceScraper" class="btn btn-primary btn-sm" target="_blank">GitHub</a>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    function selectedText(ddlItem) {
        var selValue = ddlItem.value;
        var selText = ddlItem.options[ddlItem.selectedIndex].innerHTML;
        $('#txt').val(selText);

    }
</script>


