@model IEnumerable<FinanceScraper.Models.Stock>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Stocks</h2>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Stock</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var stock in Model)
    {
        <tr>
            <td>@stock.Symbol</td>
        </tr>
    }
    </tbody>
</table>

